body {
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 1.5;
    background-color: #dde;
}

header {
    margin-bottom: 5px;
    text-align: center;
    background-color: #dde;
    padding: 10px;
}

nav {
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    background-color: #e6d8c3;
    padding: 10px;
}

.content {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
    grid-row: 3;
}

main {
    background-color: #b5d7a8;
    padding: 20px;
    margin-bottom: 5px;
}

.sidebar {
    background-color: #b5d7a8;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: sticky;
    top: 10px;
    margin-bottom: 5px;
}

/* damit die Sidebar unter Main platziert wird wenn der Bildschirm kleiner wird */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
    .sidebar {
        position: relative;
        top: 0;
    }
}

footer {

    text-align: center;
    background-color: #b5d7a8;
    padding: 10px;
}

.comments button {
    margin-bottom: 10px;
}

.bear-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.comments-section {
    border: 2px solid #ddd;
    background-color: #e6f7ff;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}

.input-container input,
.input-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.input-container button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.input-container button:hover {
    background-color: #555;
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-box {
    border: 1px solid #ccc;
    background-color: #ffffff;
    padding: 10px;
}

.comment-line {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

.comment-toggle-button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}

.comment-toggle-button:hover {
    background-color: #555;
}
